{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingCooma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "trailingComma": "none",
  "endOfLine": "lf"
}
